<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Output</title>

    <style>

@page{
    size: 'A4';
    margin: 2.5cm 1.5cm 3.5cm 1.5cm;


    @top-center{
        content: "COMPANY  NAME";
        
    }
}
    



    </style>
</head>
<body>
    <img src="https://imgs.search.brave.com/UgBWUmeJpiqt4DzezY8iTgGiajRMQVH7U32yrBsqm84/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzU3LzJl/LzU3LzU3MmU1NzQy/ZjcwNTM5OTIyOTRm/M2I1ZmQyY2U5MjBl/LmpwZw"/>
</body>
</html>